@media (max-width: 1200px){
    /************ Content Quienes Somos ****************/
    .block1{
       display: grid;
       grid-template-columns: 1fr; 
       text-align: center;
       max-width: 600px;
       grid-auto-flow: dense;
    }
    .block-image{
       width: 100%;
       grid-row: 2; 
    }
    .block-text{
        width: 100%;
        grid-row: 1;
    }
    
    /************ Content Como Ordenar****************/
    /* .block-child{
        flex:45%;
    } */
    .block2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /***************   Footer  *************/
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }
    /************ Slider ****************/
    .menu-items{
        margin-left: 0;
    }
    .slider-images{
        height: 350px;
    }
    .slider-arrows{
        top:120px;
    }
    .order-list{
        grid-template-columns: 1fr 1fr;
    }
   
}

@media (max-width: 640px){
    .menu{
        border: 0;
        box-shadow: none;  
    }
    
    .logo{
        margin-right: 0;
    }
    /* .menu-items i{
        display: block;
    }
    .menu-items ul{
        display: none;
    } */
    .menu-items{
        display: none;
    }
    .submenu{
        display: none;
    } 
    /************ Content Como Ordenar****************/
    .block2{
        display: grid;
        grid-template-columns: 1fr; 
    }
    /************ Slider ****************/
    /* .slider-images{
        height: calc(450px * 0.5);
    }
    .slider-arrows{
        top:65px;
    }  */
    /****************** Login Form *********************/
    .login-box{
        margin-top:0;
        height: 100%;
        border-radius:0;
    }
    .login-image{
        margin-right:5px;
    }
    /******************* Pedidos Foods Grid ***********************/
    .order-list{
        grid-template-columns: 1fr;
    }
    /********************** Content *************************/
    .block-image img{
        border-radius: 25px;
    }
    .spacer{
        display: none;
    }
    
}